// COLORS VARS
$light: #FFFFFF;
$dark: #000000;
$title-color: #1D1D1D;
$primary: #00A0C6;
$primary-2: #153E90;
$bg: #F5F5F5;
$gradient: linear-gradient(92.59deg, #00A0C6 0%, #4DDDFF 100%);
$gradient-2: linear-gradient(92.59deg, #4DDDFF 0%, #00A0C6 100%);